# App
API_PORT=3000

# Auth
JWT_SECRET="test-jwt-secret-test-jwt-secret-test-jwt-secret"

# Postgres
POSTGRES_DB="tests"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12345example"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
ADMIN_POSTGRES_DB="postgres"

# Testes de performance
PERFORMANCE_RESULTS_RELATIVE_FOLDER="./performanceResults"
